.text{
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bolder;
    font-size: 150%;
}
.container{
    background-image: url("../images/navBarImg.jpg");
    height: 1000px;
}